# VerificationStatus

## Enum


* `VERIFIED` (value: `"VERIFIED"`)

* `UNVERIFIED` (value: `"UNVERIFIED"`)

* `NEEDS_INFO` (value: `"NEEDS_INFO"`)

* `UNABLE_TO_VERIFY` (value: `"UNABLE_TO_VERIFY"`)

* `UNKNOWN` (value: `"UNKNOWN"`)


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


